a.button.button-secondary.alignright {
    color: #fff !important;
    background: #f79a21 !important;
    font-size: 14px;
    margin: -5px !important;
    border-radius: 0 !important;
    border: none !important;
    box-shadow: 2px 2px 0px 0px #fff !important;
}
#accordion-section-online_grocery_mart_get_started_link h3.accordion-section-title, #accordion-section-online_grocery_mart h3.accordion-section-title, #accordion-section-online_grocery_mart2 h3.accordion-section-title {
    background: #19764a !important;
    color: #fff !important;
}